/* css goes here */

table, th, td {
    border: 1px solid;
  }
  
  
@font-face {
  font-family: eternalFont;
  src: url("Eternal.ttf");
}
body {
  margin: 0;
  background-image: url("https://i.etsystatic.com/9752765/r/il/67ec60/2394972780/il_1588xN.2394972780_3etq.jpg")
}

.container {
  width: 100vw;
  height: 100vh;

  font-family:eternalFont;
  font-weight: bold;
  font-size: 20px;

  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 1fr 1fr 100px;
  grid-gap: 10px;
  padding: 10px;
  box-sizing: border-box;

}

.header {
  background-image: url("https://images.ctfassets.net/swt2dsco9mfe/6qxX9Cq1UX5XAlHStHZfrh/a819f5574df9bb834c152a3f9e67e632/social-1640x680-jam-3.jpg?q=70&fit=thumb&w=1640&h=680&fm=avif");
  grid-row-start: 1;
  grid-row-end: span 1;
  grid-column-start: 1;
  grid-column-end: 4;
  margin-top: -10px;
  margin-right: -10px;
}

#header-subtitle {
  font-family:eternalFont;
  color: white;
  font-size: 5rem;
  margin-left:48rem;
  margin-top:2rem;
}

.wizard-list-background {
  background-image: url("https://lh3.googleusercontent.com/pw/ADCreHeN4cO4Hc5c98h6VVxUPMs2FrUEDOKF2WYw5U1a9DYhsWgSOIQfEggUKtxVHlphFcHlC8hOkwDIzxROJuFJOhUf8vXdGSCei0f9YPO8CGguydMxkOc=w2400");
  grid-row-start: 2;
  grid-row-end:span 1;
  grid-column-start: 1;
  grid-column-end: span 1;
  border: 10px solid tan;
  border-style: outset;
  padding: 10px;
}

.Dragonborn {
  background-color: rgba(255, 0, 0, 0.473);
  background-image: url("https://media.istockphoto.com/id/453732553/photo/dragon-skin.jpg?s=612x612&w=0&k=20&c=8cruU7brSb16bWvPfd2Pg4VqruU81a4yRkpOhrXDWbE=");
  height: 3rem;
  width: 30rem;
  margin-top: .8rem;
  margin-left: -10px;
  border-bottom-right-radius: 50%;
  border-style: outset;
  border-color: red;
  border-width: 5px;
}

.Dwarf {
  background-color: rgba(255, 0, 0, 0.473);
  background-image: url("https://img1.cgtrader.com/items/1940427/6d70754a02/large/pbr-tileable-fantasy-metal-wall-textures-with-relief-3d-model-low-poly.jpg");
  height: 3rem;
  width: 30rem;
  margin-top: .4rem;
  margin-left: -10px;
  border-bottom-right-radius: 50%;
  border-style: outset;
  border-color: red;
  border-width: 5px;
}

.Elf {
  background-color: rgba(255, 0, 0, 0.473);
  background-image: url("https://as2.ftcdn.net/v2/jpg/02/42/33/91/1000_F_242339125_4uWorTeYTUd2sbKh8eR2eHCCn6TznXli.jpg");
  height: 3rem;
  width: 30rem;
  margin-top: .4rem;
  margin-left: -10px;
  border-bottom-right-radius: 50%;
  border-style: outset;
  border-color: red;
  border-width: 5px;
}

.Gnome {
  background-color: rgba(255, 0, 0, 0.473);
  background-image: url("https://img1.cgtrader.com/items/1940270/ab629eafca/large/tileable-ancient-fantasy-wall-textures-with-sculpted-relief-3d-model-low-poly.jpg");
  height: 3rem;
  width: 30rem;
  margin-top: .4rem;
  margin-left: -10px;
  border-bottom-right-radius: 50%;
  border-style: outset;
  border-color: red;
  border-width: 5px;
}

.Half-Elf {
  background-color: rgba(255, 0, 0, 0.473);
  background-image: url("https://cdn.pixabay.com/photo/2020/04/07/23/15/fractal-5015202_1280.jpg");
  height: 3rem;
  width: 30rem;
  margin-top: .4rem;
  margin-left: -10px;
  border-bottom-right-radius: 50%;
  border-style: outset;
  border-color: red;
  border-width: 5px;
}

.Half-Orc {
  background-color: rgba(255, 0, 0, 0.473);
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/002/019/331/original/ancient-fantasy-texture-loop-free-video.jpg");
  height: 3rem;
  width: 30rem;
  margin-top: .4rem;
  margin-left: -10px;
  border-bottom-right-radius: 50%;
  border-style: outset;
  border-color: red;
  border-width: 5px;
}

.Halfling {
  background-color: rgba(255, 0, 0, 0.473);
  background-image: url("https://static.vecteezy.com/system/resources/previews/004/753/390/large_2x/dark-wood-texture-old-panels-background-free-photo.jpg");
  height: 3rem;
  width: 30rem;
  margin-top: .4rem;
  margin-left: -10px;
  border-bottom-right-radius: 50%;
  border-style: outset;
  border-color: red;
  border-width: 5px;
}

.Human {
  background-color: rgba(255, 0, 0, 0.473);
  background-image: url("https://img.freepik.com/premium-photo/abstract-surface-photography_480962-3006.jpg");
  height: 3rem;
  width: 30rem;
  margin-top: .4rem;
  margin-left: -10px;
  border-bottom-right-radius: 50%;
  border-style: outset;
  border-color: red;
  border-width: 5px;
}

.Tiefling {
  background-color: rgba(255, 0, 0, 0.473);
  background-image: url("https://static.vecteezy.com/system/resources/previews/025/006/231/large_2x/melted-lava-texture-overheated-hell-background-mountain-magma-abstract-wallpaper-photo.jpg");
  height: 3rem;
  width: 30rem;
  margin-top: .4rem;
  margin-left: -10px;
  border-bottom-right-radius: 50%;
  border-style: outset;
  border-color: red;
  border-width: 5px;
}

#wizard-list {
  grid-row-start: 2;
  grid-row-end:span 1;
  grid-column-start: 1;
  grid-column-end: span 1;
  z-index: 2;
  border: 10px solid tan;
  border-style: outset;
  padding: 10px;
  font-family: eternalFont;
  color: rgb(159, 4, 4);
}

.content-large {
  background-image: url("https://cdn.openart.ai/stable_diffusion/b012323c5ffa3fd5cad34cff7c9d929e106675c6_2000x2000.webp");
  background-size:cover;
  grid-row-start:2;
  grid-row-end:span 1;
  grid-column-start: 2;
  grid-column-end: span 2;
  border: 10px solid tan;
  border-style: outset;
  padding: 10px;
  font-family: eternalFont;
  color: rgb(159, 4, 4);
  display: grid;
  
}

#saved-origins-list {
  background-image: url("https://lh3.googleusercontent.com/pw/ADCreHeF_eufmr-uHucNkpgZszeMXU742z5olzSANPt92Ahfx9Yaar7PyIcuKaNjOAYlgba3T4lkwjKMiJPvNpzUdlLmoQDF3NyCNnip75frW9r7XCOHayY=w2400");
  grid-row-start:3;
  grid-row-end: span 1;
  grid-column-start: 1;
  grid-column-end: span 1;
  border: 10px solid tan;
  border-style: outset;
  padding: 10px;
  font-family: eternalFont;
  color: rgb(159, 4, 4);
}

#form-container {
  background-image: url("https://lh3.googleusercontent.com/pw/ADCreHfCcz7BlAuvWbUuWSsKSBCKq49jOdm52hVadrrKhkETUI3bioefchA9f2ni8USgdfx-unLa5qwUTJQoOKrKnk5ikrKWSzJK7WQoZwK9ICi76JAHem0=w2400");
  grid-row-start:3;
  grid-row-end:span 1;
  grid-column-start: 2;
  grid-column-end: span 2;
  border: 10px solid tan;
  border-style: outset;
  padding: 10px;
  font-family: eternalFont;
  color: rgb(159, 4, 4);
}

.footer {
  background-image: url("https://images.ctfassets.net/swt2dsco9mfe/5vgSeoL9NqK0oaPtzHF8xA/f879a38024c08b341d6ca4869bd0152b/social-1640x680-jam-1.jpg?q=70&fit=thumb&w=1640&h=680&fm=avif");
  grid-column-start: 1;
  grid-column-end: 4;
  font-family: eternalFont;
  color: rgb(159, 4, 4);
}

#the-Book-Of-Races{
  background-image: url("file:///C:/Users/owner/OneDrive/Documents/Living%20in%20Colorado%20Period/Programming/dnd%20Tome.svg");
  background-size:cover;
  display: block;
  margin: auto;
  width: 60rem;
  height: 30rem;
  grid-row-start:2;
  grid-row-end: span 1;
  grid-column-start: 2;
  grid-column-end: span 2;
  z-index: 2;
}

#book-open{
  grid-row-start:2;
  grid-row-end: span 1;
  grid-column-start: 2;
  grid-column-end: span 2;
  z-index: 3;
}

#right-page {
  /* background-color: rgba(0, 0, 255, 0.432); */
  grid-row-start:2;
  grid-row-end: span 1;
  grid-column-start: 3;
  grid-column-end: span 1;
  z-index: 4;
}

#right-page-info {
  margin-top:100px;
}

#left-page {
  /* background-color: rgba(0, 0, 0, 0.37); */
  grid-row-start:2;
  grid-row-end: span 1;
  grid-column-start: 2;
  grid-column-end: span 1;
  z-index: 4;
}

img {
  max-width: 100%;
  max-height: 100%;
}

#left-page-info {
    width: 17rem;
  margin-top: 6rem;
  margin-left: 15rem;
}

#header-title {
  display: block;
  margin-left: 14rem;
  width: 18rem;
  grid-row-start: 1;
  grid-row-end: span 1;
  grid-column-start: 1;
  grid-column-end: 4;
  z-index: 2;
  /* justify-self: center; */
}
